/* .InputSearch {
  background: #7ba7ab;
} */

.InputSearch:after {
  content: "";
  clear: both;
  display: table;
}
.SearchForm {
  position: relative;
  width: auto;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50%;
  transform: translate(50%);
  height: 42px;
}
.SearchForm_input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid #408cff;
  outline: none;

  transition: 0.3s linear;
}
.SearchForm_input:focus {
  width: 300px;
}
.InputSearch button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.InputSearch button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #408cff;
  cursor: pointer;
}
